@font-face {
  font-family: 'S-CoreDream-4Regular';
  src: url('https://cdn.jsdelivr.net/gh/wizfile/font/S-CoreDream-4Regular.eot');
  src:url('https://cdn.jsdelivr.net/gh/wizfile/font/S-CoreDream-4Regular.woff') format('woff');
  font-style: normal;
}
body{
  font-family: 'S-CoreDream-4Regular';
}
.regist>span{
  color: #0a66ff;
}
.iconshadow{
  box-shadow: 0px 8px 10px -5px rgb(200, 200, 200);
}

.border-gra{
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(0.25turn, #ffffff, #b4b4b4,#ffffff);
  border-image-slice: 1;
}
.vertical-divider{
  height: 15px;
  width: 2px;
  background-color: #888;
  margin: 0 10px;
}
.fadein{
  animation: fadein .5s;
  animation-fill-mode: forwards;
  display: block;
}
.fadeout{
  animation: fadeout .5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 0.9;
  }
}
@keyframes fadeout {
  from {
      opacity: 0.9;
  }
  to {
      opacity: 0;
  }
}